header {
    font-family: 'Helvetica', sans-serif;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    font-size: 1rem;
    z-index: 1;
}

.sony {
    background-color: black;
    height: 30px;
    text-align: right;
}

.sony img {
    height: 50%;
    width: auto;
    line-height: 30px;
    margin-right: 0.5rem;
}

.navbar {
    background-color: white;
}

.navbar-brand img {
    width: 100%;
    height: auto;
}

.navbar-collapse {
    max-height: 220px;
    overflow-y: scroll;
    overflow-x: hidden;
}

.dropdown {
    position: static;
}

.dropdown-menu {
    width: 100%;
    text-align: center;
    background-clip: border-box;
    border-radius: 0;
}

.dropdown-menu[data-bs-popper] {
    margin-top: 0;
}

.dropdown-menu ul {
    list-style-type: none;
}

.dropdown-menu a span {
    display: block;
}

.dropdown-item {
    padding: 0;
}

.sub-link {
    padding: 0 0.5rem;
}

.login {
    background-color: black;
    color: white;
    margin: 1rem 0;
    width: 55%;
}

form {
    position: relative;
}

#search-lens {
    width: 30px;
    height: auto;
    position: absolute;
    left: 0;
    top: 2px;
}

input {
    width: 100%;
    height: 35px;
}