@media screen and (min-width: 768px) {
    /* PLAY5 MD VERSION */
    #accessories h5 {
        display: block;
    }

    /* PLAYSTATION PLUS AND PLAYSTATION NOW BANNER MD VERSION */
    .play-plus-now {
        padding: 0;
    }

    .play-plus-now .hidden {
        display: block;
    }

    .play-plus-now .hidden img {
        height: 100%;
        width: 100%;
    }

    /* SOCIAL MEDIA MD VERSION */
    .container-center {
        max-width: 80%;
        margin: 0 auto;
    }
}

@media screen and (min-width: 992px) {
    /* NAVBAR LG VERSION */
    .navbar-collapse {
        max-height: none;
        overflow-y: unset;
        overflow-x: unset;
    }

    .navbar-right {
        display: flex;
        align-items: center;
    }

    form {
        position: static;
    }

    .login {
        margin: 0 1rem;
        width: fit-content;
    }

    /* hover on login */
    .login:hover {
        background-color: rgba(0, 0, 0, 0.5);
    }

    .no-hover {
        position: static;
    }

    input {
        display: none;
    }

    /* RETURNAL BANNER LG VERSION */
    .banner-general img {
        width: 20%;
    }
    
    .banner-general p {
        width: 40%;
    }

    /* SOCIAL MEDIA LG VERSION */
    .container-center {
        max-width: 60%;
        margin: 0 auto;
    }
}