/* general rules */

/* MOBILE VERSION */
header {
    height: fit-content;
}

/* debugging rules */
header [class*="col"] {
    background-color: beige;
    border: 1px solid black;
    height: 100px;
}

#banner {
    background-color: chocolate;
    height: fit-content;
}

#banner [class*="col"] {
    background-color: burlywood;
    border: 1px solid black;
    height: 500px;
}

#games [class*="col"] {
    background-color: burlywood;
    border: 1px solid black;
    height: 100px;
}

#play5 {
    background-color: darkcyan;
    height: fit-content;
}

#play5 [class*="col"] {
    background-color: burlywood;
    border: 1px solid black;
    height: 100px;
}

#description-play5 [class*="col"] {
    background-color: burlywood;
    border: 1px solid black;
    height: 300px;
}

#accessories [class*="col"] {
    background-color: burlywood;
    border: 1px solid black;
    height: 100px;
}

#it-takes-two {
    background-color: darkgreen;
    height: fit-content;
}

#it-takes-two [class*="col"] {
    background-color: burlywood;
    border: 1px solid black;
    height: 300px;
}

#new-games {
    background-color: darkmagenta;
    height: 200px;
}

#new-games [class*="col"] {
    background-color: burlywood;
    border: 1px solid black;
    height: 100px;
}

#play4 {
    background-color: darkturquoise;
}

#play4 [class*="col"] {
    background-color: burlywood;
    border: 1px solid black;
    height: 100px;
}

#play4-accessories [class*="col"] {
    background-color: burlywood;
    border: 1px solid black;
    height: 300px;
}

#play-plus {
    background-color: deeppink;
}

#play-plus [class*="col"] {
    background-color: burlywood;
    border: 1px solid black;
    height: 300px;
}

#discounts {
    background-color: firebrick;
}

#discounts [class*="col"] {
    background-color: burlywood;
    border: 1px solid black;
    height: 100px;
}

#off-price [class*="col"] {
    background-color: burlywood;
    border: 1px solid black;
    height: 300px;
}

#play-now {
    background-color: gold;
}

#play-now [class*="col"] {
    background-color: burlywood;
    border: 1px solid black;
    height: 300px;
}

#social {
    background-color: gray;
}

#social [class*="col"] {
    background-color: burlywood;
    border: 1px solid black;
    height: 100px;
}

footer {
    background-color: indigo;
}

footer [class*="col"] {
    background-color: burlywood;
    border: 1px solid black;
    height: 100px;
}