/* general rules */
body {
    font-family: 'Arial', sans-serif;
    font-size: 10px;
}

.banner-general {
    color: white;
}

.banner-general img {
    width: 60%;
    height: auto;
    padding: 1rem 0;
}

.banner-general span {
    display: block;
    font-size: 2.5rem;
    padding: 0 0 1rem 0;
}

.banner-general p {
    width: 100%;
    font-size: 1.3rem;
}

.banner-general button {
    background-color: #cd3d0f;
    border-radius: 20px;
    padding: 0.5rem;
    border: none;
}

.banner-general button a {
    text-decoration: none;
    color: white;
    padding: 0.3rem 0.5rem;
    border-radius: 20px;
    font-size: 1rem;
}

/* adds an internal border to the button */
.banner-general button:hover a {
    border: 1px solid white;
}

/* HEADER MOBILE VERSION */
header {
    height: fit-content;
}

/* RETURNAL BANNER MOBILE VERSION */
#banner {
    background-image: url('../img/jumbo-bg.png');
    background-position-x: center;
    background-position-y: top;
    background-repeat: no-repeat;
    height: 600px;
}

.container-relative {
    position: relative;
    width: 100%;
    height: 600px;
}

#returnal {
    position: absolute;
    left: 0;
    bottom: 5rem;
}

/* RETURNAL BANNER LG VERSION */
@media screen and (min-width: 992px) {
    .banner-general img {
        width: 20%;
    }
    
    .banner-general span {
        display: block;
        font-size: 2rem;
    }
    
    .banner-general p {
        width: 40%;
    }
}

/* GAMES MOBILE VERSION */
#games {
    padding: 1rem 0 2rem 0;
}

#games .col img {
    width: 100%;
    height: auto;
    border-radius: 10px;
    padding: 0.2rem;
}

/* moves up the images */
#games .col img:hover {
    position: relative;
    bottom: 1rem;
    left: 0;
}

#brd {
    border: 1px solid #2a88d5;
}

/* PLAYSTATION 5 MOBILE VERSION */
#play5 {
    padding: 2rem 0;
}

#play5 .title {
    padding: 2rem 0;
    text-align: center;
}

#play5 .title #no-limits {
    color: #2184d3;
    font-size: 1.2rem;
}

#play5 .subtitle {
    color: #767676;
    font-size: 1.5rem;
    padding: 1.5rem 0;
    display: block;
}

#play5 button {
    background-color: #2d64e6;
    border-radius: 20px;
    padding: 0.5rem;
    border: none;
}

#play5 button a {
    text-decoration: none;
    color: white;
    padding: 0.3rem 0.5rem;
    border-radius: 20px;
    font-size: 1rem;
}


#play5 img {
    width: 100%;
    height: auto;
}

#accessories > *:hover {
    border-bottom: 2px solid #0173ce;
}

#accessories h5 {
    display: none;
}

/* PLAY5 MD VERSION */
@media screen and (min-width: 768px) {
    #accessories h5 {
        display: block;
    }
}

/* IT TAKES TWO MOBILE VERSION */
#it-takes-two {
    padding: 2rem 0;
    background-image: url('../img/it-takes-two-hero-banner-desktop.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

/* new games */
#new-games {
    padding: 2rem 0;
    color: white;
    background-color: #1f1f1f;
}

#new-games span {
    font-size: 1.3rem;
    display: block;
    padding: 0.5rem 0;
}

#new-games img {
    width: 100%;
    height: auto;
    border-radius: 5px;
}

#new-games-list span {
    font-size: 1rem;
}

/* debugging rules */
header [class*="col"] {
    background-color: beige;
    border: 1px solid black;
    height: 100px;
}

#play4 {
    background-color: darkturquoise;
}

#play4 [class*="col"] {
    background-color: burlywood;
    border: 1px solid black;
    height: 100px;
}

#play4-accessories [class*="col"] {
    background-color: burlywood;
    border: 1px solid black;
    height: 300px;
}

#play-plus {
    background-color: deeppink;
}

#play-plus [class*="col"] {
    background-color: burlywood;
    border: 1px solid black;
    height: 300px;
}

#discounts {
    background-color: firebrick;
}

#discounts [class*="col"] {
    background-color: burlywood;
    border: 1px solid black;
    height: 100px;
}

#off-price [class*="col"] {
    background-color: burlywood;
    border: 1px solid black;
    height: 300px;
}

#play-now {
    background-color: gold;
}

#play-now [class*="col"] {
    background-color: burlywood;
    border: 1px solid black;
    height: 300px;
}

#social {
    background-color: gray;
}

#social [class*="col"] {
    background-color: burlywood;
    border: 1px solid black;
    height: 100px;
}

footer {
    background-color: indigo;
}

footer [class*="col"] {
    background-color: burlywood;
    border: 1px solid black;
    height: 100px;
}