/* general rules */
body {
    font-family: 'Arial', sans-serif;
    font-size: 10px;
}

/* NB: header and navbar rules are in navbar.css */

/* general rules for sections */
section {
    padding: 2rem 0;
}

/* general rules for images */
img {
    width: 100%;
    height: auto;
}

/* general rules for paragraphs */
p {
    font-size: 1rem;
}

/* general rules for buttons */
button {
    border-radius: 25px;
    padding: 0.3rem 0.5rem;
    border: none;
    margin: 0.1rem 0.1rem;
}

button span {
    display: block;
    padding: 0.3rem 0.5rem;
    border-radius: 25px;
    font-size: 1rem;
}

/* blue-white buttons */
.blue-white-btn {
    background-color: #2d64e6;
}

.blue-white-btn span {
    color: white;
}

/* red-white buttons */
.banner-general button {
    background-color: #cd3d0f;
    margin: 0.1rem 0.1rem;
}

.banner-general button span {
    color: white;
}

/* adds an internal border to the button, but the .login one */
button:not(.login):hover span {
    border: 1px solid white;
    padding: 0.2rem 0.4rem;
}

button:not(.login):hover {
    padding: 0.4rem 0.6rem;
    margin: 0 0 0.1rem 0;
}

/* general rules for returnal and it takes two banner */
.banner-general {
    color: white;
}

.banner-general img {
    width: 60%;
    height: auto;
    padding: 1rem 0;
}

.banner-general p {
    width: 100%;
}

/* general rules for title and subtitle */
.title {
    padding: 2rem 0;
    text-align: center;
}

.subtitle {
    color: #767676;
    font-size: 1.5rem;
    padding: 1.5rem 0;
    display: block;
}

/* general rules for playstation plus and playstation now banners */
.play-plus-now img {
    width: 60%;
    height: auto;
}

.play-plus-now p {
    padding: 2rem 0 1rem 0;
}

.play-plus-now .hidden {
    display: none;
}

/* RETURNAL BANNER */
#banner {
    background-image: url('../img/jumbo-bg.png');
    background-position-x: center;
    background-position-y: top;
    background-repeat: no-repeat;
    height: 600px;
    margin-top: 106px;
}

#returnal {
   padding-top: 16rem; 
}

/* GAMES */
#games .col img {
    border-radius: 10px;
    padding: 0.2rem;
}

/* moves up the images */
#games .col img:hover {
    position: relative;
    bottom: 1rem;
    left: 0;
}

#brd {
    border: 1px solid #2a88d5;
}

/* PLAYSTATION 5 */
#play5 .title #no-limits {
    color: #2184d3;
    font-size: 1.2rem;
}

#accessories .col {
    opacity: 0.5;
}

#accessories > *:hover {
    border-bottom: 2px solid #0173ce;
    opacity: 1;
}

#accessories h5 {
    display: none;
}

/* IT TAKES TWO */
#it-takes-two {
    padding: 2rem 0;
    background-image: url('../img/it-takes-two-hero-banner-desktop.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

/* NEW GAMES */
#new-games {
    color: white;
    background-color: #1f1f1f;
}

#new-games span {
    font-size: 1.3rem;
    display: block;
    padding: 0.5rem 0;
}

#new-games img {
    border-radius: 5px;
}

#new-games .col span {
    font-size: 1rem;
}

/* PLAYSTATION PLUS BANNER */
#play-plus {
    background-color: #bebcbb;
}

#play-plus button {
    background-color: #d9dadc;
}

#play-plus button span {
    color: #376ae4;
}

/* PLAYSTATION NOW BANNER */
#play-now {
    background-color: #161c3b;
}

#play-now p {
    color: white;
}

#play-now button {
    background-color: #f5f5f5;
}

#play-now button span {
    color: #1a1a1a;
}

/* FOOTER */
footer {
    background-color: #00439c;
    color: white;
    padding: 2rem 0;
}

/* UPPER FOOTER */
#upper-footer .shared-nav-ps-logo {
    fill: white;
    display: block;
    width: 20%;
    height: auto;
}

#upper-footer .languages {
    margin: 1rem 0;
}

#upper-footer .languages img {
    width: 20px;
    height: auto;
}

#upper-footer .languages span {
    display: inline-block;
    font-size: 0.8rem;
    padding: 0 0.5rem;
    line-height: 2;
    vertical-align: middle;
}

#upper-footer ul {
    list-style-type: none;
}

#upper-footer ul li a {
    display: block;
    text-decoration: none;
    color: white;
    font-size: 1rem;
    padding: 0.2rem 0;
}

/* LOWER FOOTER */
#lower-footer img {
    width: 20%;
    height: auto;
    padding: 1rem 0;
}

#lower-footer a {
    color: white;
}